section div{
 
    background-color: black;

    color:lightgray;
    font-size: 1.4em;
    text-align: justify;
    width: 100%;
    display: flex;
}
section h1 {
    font-size: 0px;
}

body{
    background-attachment: fixed;
    background-image: url(../images/espace.jpg);
    background-size: cover;
 background-repeat: no-repeat;
    color: white;
    background-color: black;
}

.names{

    display: flex;
    text-align: left;
    width: 100%;
}
