div{
    background-attachment: fixed;
    background-image: url(../images/espace.jpg);
    /* https://www.unep.org/resources/frontiers-2022-noise-blazes-and-mismatches */
    background-size: cover;

    background-color: black;
    background-repeat: no-repeat;
    color:lightgray;
    font-size: 1.4em;
    text-align: justify;
    width: 100%;
    display: flex;
}

body{
    background-attachment: fixed;
    background-image: url(../images/espace.jpg);
    background-size: cover;
 background-repeat: no-repeat;
    color: white;
    background-color: black;
}

.names{

    display: flex;
    text-align: center;
    width: 100%;
}
