section h1{
    text-align: center;
    border:solid;
    border-radius: 50px;
    color: black;
    background-color: white;
}

section div{
    margin-top: 59px;
    margin-bottom: 100px;
}

section img{
    vertical-align: center;
}

.illustration{
    border: solid;
    border-radius: 30px;
    float: left;
    vertical-align: center;
}

section a{
    color: red;
    text-decoration: none;
    padding: 1.5em;
    text-align: center;
   max-height: 10%;
    max-width: 10%;

}

.intro{ 
    margin-bottom: 40px;
    font-size: 1.3em;
    max-height:100%;
}

#nasa:hover{
    background-color: transparent;
    color: aliceblue;
}
#esa:hover{
    background-color: transparent;
    color: aliceblue;
}
#roscosmos:hover{
    background-color: transparent;
    color: aliceblue;
}
#spacex:hover{
    background-color: transparent;
    color: aliceblue;
}
#blueorigin:hover{
    background-color: transparent;
    color: aliceblue;
}

.text{

    font-size: 20px;
    width: 100%;

    min-height:30%;
    background-attachment: fixed;
    background-image: url(../images/terre.jpg);
    /* https://www.unep.org/resources/frontiers-2022-noise-blazes-and-mismatches */
    background-size: cover;

    background-color: black;
    background-repeat: no-repeat;
    color:white;
}

.summary{
    margin-top: 0;
    margin-left: 250px;
    margin-right: 20px;
    font-size: 1.4em;
    text-align: justify;
    display: flex;
}


