
header ul {
    list-style-type: none;
    position: relative;
    top:0;
    right: 40px;
    width: 99%;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size:26px;
  }
  #logo{
    position: absolute;

    top:0;
    left:5px;
  }
  
  header li {
    background-color: #5B5554;
    margin-top: 3px;
    margin-bottom: 3px; 
    margin-right: 20px;
    float: left;
  }
  header li:last-child{
    background-color: #900C3F;
    float: right;
    width: auto;
  }
  header li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  header li:nth-child(2) a:hover,:nth-child(3)  a:hover {
    background-color: #222222;
  }
  header li:last-child a:hover{
    background-color: #6C222F;
  }
  
  header a {
    display: block;
    outline: 1px transparent;
    padding: 0;
  }
  header a:hover {
    outline: 2px solid white;
  }
  #logo:hover{
      outline: 5px solid black;
  }

  
  footer ul {
    list-style-type: none;
    position:fixed;
    bottom:0;
    width: 95%;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    font-size:18px;
  }
  footer li {
    margin-top: 3px;
    margin-bottom: 0px;
    margin-right: 20px;
    float: left;
    color:white;
    background-color: transparent;
  }
  
  footer .about-us{
    background-color: darkblue;
    outline: 2px solid white;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 100px;
  }
  
  #links {
    float: right;
  }

  footer p{
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 3px;
  }
  
  footer a {
    display: block;
    outline: 1px transparent;
    padding: 0;
  }
  .about-us a:hover {
    background-color: #131A4D;
  }
  
  footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
  }

  