section{
    margin-left:20px;
    text-align: left;

    color: aliceblue;
}

section h1{
    font-size: 60px;
    text-align: center;
}
section h2{
    color: lightslategray;
}
#news{
    max-width: 97%;
    font-size: 40px;
    color: white;
    background-image: url(../images/banner.png);
    outline: 2px solid white;
    padding: 10px;
}

body {
    margin: 0;
    padding: 0;
    background : url(../images/bg-main.jpg);
    background-size : cover;
    background-repeat: no;
    font-family : sans-serif;
    text-align: center;
  }
@media screen and (min-width: 601px) {
    section div {
    font-size: 20px;
    }
}
@media screen and (max-width: 600px) {
    section div {
    font-size: 14px;
    }   
}

section div{
    text-align: left;
    padding: 0;
    margin: 10px;
}
#img{
    outline: 1px solid white;
}
#p1{
    margin-left: 100px;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    height: none;
	border: none;
	border-top: 4px dashed aliceblue
}
